!!! 5
%html
  %head
    %title Haku
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #side
        = form_tag posts_path, :method => :get do
          = text_field_tag :search, params[:search], :placeholder => 'Search', :size => 18
          = submit_tag "Go", :name => nil

      = yield
